
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/normalize.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <link rel="stylesheet" href="~/css/style.css">
    <title>Old phones</title>
</head>
<body class="body">
    <div class="container container-phone">

        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <h1 class="main__h1">Beautiful Motorola RIZR Z8</h1>
                    <div class="moto">
                        <img class="pic-moto" src="~/img/motoz8.png" alt="телефон моторола">
                    </div>
                </div>
                <div class="swiper-slide">
                    <h1 class="main__h1">Greate Nokia 6600</h1>
                    <div class="moto">
                        <img class="pic-moto" src="~/img/nokia-6600-1.png" alt="телефон нокиа">
                    </div>
                </div>
                <div class="swiper-slide">
                    <h1 class="main__h1">Amaizing Nokia E66</h1>
                    <div class="moto">
                        <img class="pic-moto" src="~/img/nokia-e66.png" alt="телефон нокиа">
                    </div>
                </div>
                <div class="swiper-slide">
                    <h1 class="main__h1">Best Sony Ericsson K750i</h1>
                    <div class="moto">
                        <img class="pic-moto" src="~/img/se-k750i.png" alt="телефон нокиа">
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div class="navigation-back">
            <a asp-action="Index" class="navigation-back__link navigation-back-phone">
                <img class="navigation-back__icon" src="~/img/home.png" alt="иконка назад">
                <span class="navigation-back__text">to home page</span>
            </a>
        </div>
    </div>

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="~/js/scriptPhone.js"></script>

</body>
</html>